/* ================================
FLEXBOX
=================================== */

/* est. flex formatting context */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* target specific items */
/* .item-1 {
  margin-right: auto;
}

.item-6 {
  margin-left: auto;
} */