/* ================================
FLEXBOX
=================================== */

/* est. flex formatting context */
.container {
  display: flex;
  flex-wrap: wrap; /* gives multi-line flex container */
}

/* target all flex items */
.item {
  flex-grow: 1;
}

.item-1 {
  flex-grow: 4;
}